{% extends 'home/base.html' %}
{% block head %}
    <title>Blood Source | Home</title>
    <style>
        .btn-circle {
            width: 200px;
            height: 200px;
            padding: 6px 0px;
            border-radius: 100px;
            border: whitesmoke;
            text-align: center;
            font-size: 30px;
            line-height: 1.42857;
            background-color: #ff9999;
        }

        a.btn-circle:hover {
            font-size: 45px;
        }

        #n2 {
            background: #ff944d;
            height: 340px;

        }

        #head {
            font-family: 'Roboto Slab', cursive;
            font-size: 70px;
            padding: 100px;
            color: white;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="n2">
        <p class="text-center" id="head">BloodSource</p>
    </div>
    <a href="{% url 'finddonor:index' %}">
        <button type="button" class="btn btn-default btn-circle btn-lg" style="margin: 100px;opacity: 0.6;">Find donor</button>
    </a>
    <a href="{% url 'donate:index' %}">
        <button type="button" class="btn btn-default btn-circle btn-lg text-black" style="opacity: 0.6;">Donate now
        </button>
    </a>
    <a href="{% url 'availability:index' %}">
        <button type="button" class="btn btn-default btn-circle btn-lg text-black" style="opacity: 0.6;">Check blood availability
        </button>
    </a>
    <a href="{% url 'bloodcamp:camphome' %}">
        <button type="button" class="btn btn-default btn-circle btn-lg text-black" style="opacity: 0.6;">BloodCamps
        </button>
    </a>

{% endblock %}
