{% extends 'home/base.html' %}
{% block title %}
    Find a potential donor
{% endblock %}
{% block body %}
    <h2 style="margin: 100px">
        {% if sorry %}
           <h2 style="color:white;">{{ sorry }}</h2>
         {% else %}
                <dl>
                    {% for donor in result %}
                        <dt>{{ donor.user.username }}
                        <dd>
                            Address: {{ donor.city }},{{ donor.state }}
                        </dd>

                        </dt>
                    {% endfor %}
                </dl>
        {% endif %}
        <h2 style="color: white;margin-top: 50px;">Enter details</h2>
        <div class="bg-warning" style="margin-bottom: 100px;margin-left: 20px;">
            <h3>Find donors:</h3>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    <label>{{ field.label_tag }}</label>
                    {{ field }}
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-success">Search..</button>
            </form>
        </div>
    </div>
{% endblock %}