{% extends 'home/base.html' %}
{% block title %}
    Find a potential donor
{% endblock %}
{% block body %}
    <div style="margin: 200px">
        <h2>Enter details</h2>
        <div class="bg-warning" style="margin-top: 100px;margin-left: 20px;">
            <h3>Find a donor near you:</h3>
            <form action="{% url 'finddonor:detail' %}" method="post">
                {% csrf_token %}
                <label for="blood">Blood group</label>
                <input type="text" name="blood"><br>
                <button type="submit" class="btn btn-success">Search..</button>
                <br>
            </form>
        </div>
    </div>
{% endblock %}