{% extends 'home/base.html' %}
{% block title %}
    Book Blood Test
{% endblock %}
{% block body %}


    <h2 style="color: white;margin-top: 50px;">Enter details</h2>
        <div class="bg-warning" style="margin-bottom: 100px;margin-left: 20px;">
            <h3>Book Blood Test:</h3>
            <form action="{% url "pathlab:result"%}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    <label>{{ field.label_tag }}</label>
                    {{ field }}
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-success">Book Test</button>
            </form>
        </div>
    </div>
{% endblock %}