{% extends 'home/base.html' %}
{% load static %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>History</title>
    <style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    display: none;
}




.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: 	#FF6347;
    color: white;
}
.camps {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.camps td, .camps th {
    border: 1px solid #ddd;
    padding: 8px;
    width:20%;
}

.camps tr:nth-child(even){background-color: #f2f2f2;}

.camps tr:hover {background-color: #ddd;}

.camps th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: 	#5B71FF;
    color: white;
}




    </style>
  {% endblock %}

{% block body %}
    <h1>History Page</h1>
    {% if camps %}


    <table class="camps">
      <tr>
        <th>CampID</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>location</th>
        <th>Donators</th>
      </tr>
     </table>

        {% for camp in camps %}
    <table class="camps">
        <tr>
        <td>{{ camp.campid }}</td>
        <td>{{ camp.startdate }}</td>
        <td>{{ camp.enddate }}</td>
        <td>{{ camp.location }}</td>
          <td><button id="btn" name="{{ camp.campid }}" onclick="showdetails(this.name)">show details</button></td>
        </tr>
    </table>
        <!--{% if donors %}-->
     <div id="{{ camp.campid }}"  class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>

            <table class="customers">
                    <tr>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>Email</th>
                    <th>phone</th>
                    <th>Gender</th>
                    <th>date</th>
                    <th>blood</th>
                    </tr>
                    {% for donor in donors %}
                    {% if donor.bloodcamp.campid == camp.campid %}
                    <tr>
                    <td>{{donor.firstname}}</td>
                    <td>{{donor.lastname}}</td>
                    <td>{{donor.email}}</td>
                    <td>{{donor.phone}}</td>
                    <td>{{donor.gender}}</td>
                    <td>{{donor.date}}</td>
                    <td>{{donor.blood}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
            </table>
  </div>
</div>

      <!--{% endif %}-->
      {% endfor %}
     </table>
    {% endif %}
    <h2><a href="{% url 'bloodcamp:camphome' %}" style="text-decoration:none">Back</a></h2>
 <script>
// Get the modal


// Get the <span> element that closes the modal
// var span = document.getElementsByClassName("close")[0];
var modal;
// When the user clicks the button, open the modal
function showdetails(name) {
  modal = document.getElementById(name);
    modal.style.display = "block";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
  {% endblock %}
