{% extends 'home/base.html' %}
{% block head %}
<title>Request blood</title>
{% endblock %}

{% block body %}
<h2 style="">Requestor form</h2>
    <form action="" method="post" style="margin: 100px;">
    {% csrf_token %}
    {% for field in form %}
        {{ field.errors }}<br>
        {{ field.label_tag }}{{ field }}

    {% endfor %}
    <label>Blood group</label>
    <input type="text"  name="blood" value="{{ blood }}" readonly="readonly">
    <br>
    <button class="btn btn-success" type="submit">Request</button>
    </form>

{% endblock %}